body {
    /*text-align: center;*/
    margin: 0%;
}

/**/
a:hover {
    background-color: white;
    color: steelblue
}
main p {
    width: 80%;
    margin: 30px auto;  /* "margin: 0 auto;" --> lo uso para alinear mis block elements como los parrafos  ; el "30px" en lugar del "0" lo uso para agregar espacio arriba */
    text-align: center;  /* "text-align: center;"  -->lo uso para alinear mis inlines elements y/o el contenido de un block element*/
}

nav {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}

a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
    padding: 25px;
}

footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
    color: steelblue;
    border: 4px solid steelblue;
    margin: 50px 0;
}
img {
    display:block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
}

p {
    width: 80%;
    padding: 25px;
    margin: 50px auto;

}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

footer p {
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
    background-color: rgb(70, 114, 180);
    /*color: white;*/
    text-align: center;
}

#active {
    background-color: white;
    color: steelblue;
}

/*
*{
    border: 2px solid blue;
}
*/
